<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Profile</title>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/famcloud.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript" th:src="@{/js/famcloud.js}"></script>
  <script type="text/javascript" th:src="@{/js/identicon.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">famCloud</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="form-signin-heading">Profile</h2>
    </div>
    <div class="col-sm-6" th:if="${userInfo.profileImage}">
      <img th:src="|data:image/png;base64,${userAvatar}" alt="">
    </div>
<!--    <div class="col-sm-6">-->
<!--      <img src="https://i.pinimg.com/736x/fe/6c/b1/fe6cb11ef8fbaec40ab56283b6eb0ba4.jpg" alt="castle-logo" style="max-height: 75px;">-->
<!--    </div>-->
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header"><span>Personal Info</span></div>
        <div class="row align-items-center justify-content-center">
          <div class="card-body col-sm-5">
            <ul>
              <li th:text="${userInfo.firstName}"></li>
              <li th:text="${userInfo.lastName}"></li>
              <li th:text="${userInfo.getEmail()}"></li>
              <li th:text="${userInfo.getUsername()}"></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <form action="#" th:action="@{/avatar-store}" th:object="${avatar}" method="post">
              <label for="avatargen">Type Name to generate avatar</label>
              <input type="text" class="form-control" id="avatargen">
              <button type="button" class="btn btn-primary mt-1" onclick="generateAvatar()">
                Generate
              </button>
              <button class="btn btn-success mt-1">
                Save
              </button>
              <input type="text" name="username" id="form-identicon-username-input" th:value="${userInfo.getUsername()}">
              <input type="hidden" th:field="*{b64Image}" id="form-identicon-image-input">
            </form>
          </div>
          <div class="col-sm-4" id="identicon"></div>
        </div>
      </div>
    </div>
  </div>

</div>
</body></html>